.item {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.name,
.number {
    font-size: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.number {
    color: rgb(4, 35, 95);
}
.svgIcon {
    width: 28px;
    height: 28px;
    }
  .button {
    border-radius: 4px;
    padding: 4px;
  }  

  .button:hover,
  .button:focus {
    background-color: rgba(253,154,45,1);
  transform: scale(1.2);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  }